html,
body {
    min-width: 1024px;
    max-width: 1440px;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 250px 1000px 230px;
    grid-template-areas:
            "header header header header header"
            "main main main main aside"
            "footer footer footer footer footer";
}

.header {
    grid-area: header;
    background-color: black;
    height: 91%;
}

.body-main {
    grid-area: main;
    background-color: white;
    height: 98%;
    margin: 0;
}


.aside {
    grid-area: aside;
    background-color: green;
    height: 98%;
    margin-left: 10%;
}

.footer {
    grid-area: footer;
    background-color: gray;
    height: 100%;
}

.main-section-1 {
    float: left;
    display: grid;
    width: 70%;
    height: 100%;
    margin: 0 4% 0 0;
    padding: 0;
    background-color: gray;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: auto;
}

.main-section-2 {
    float: left;
    width: 26%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: black;
}

.main-1-articles{
    width: 100%;
}
.article-1{
    
}
