html,
body {
    min-width: 1024px;
    max-width: 1440px;
    font-family: 'Manjari', sans-serif;
    background-color: #dbdbdb;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 10% [col-start]);
    grid-auto-rows: auto;
}

.header-container {
    width: 100%;
    min-height: 6.2375rem;
    max-height: 200px;
    padding: 1em 0;
    display: grid;
    grid-column-start: 1;
    grid-column-end: end;
    grid-template-columns: repeat(10, 10% [col-start]);
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: #dbdbdb;
}

.logo-div {
    grid-column: 1 / span 2;
    background-color: #dbdbdb;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo-header {
    width: 100%;
    height: auto;
    margin: 32.5px 0;
}

.nav-bar {
    grid-column: 3 / span 7;
    background-color: #dbdbdb;
    width: 100%;
    font-size: 20px;
}

.search-div {
    background-color: #dbdbdb;
    width: 100%;
    font-size: 20px;
}

.search-div p {
    width: 99%;
    height: 20px;
    margin: 32.5px 0;
    padding:0;
}

.nav-ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
}

.nav-ul-elements {
    width: 20%;
    height: 20px;
    margin: 32.5px 0;
    padding:0;
}

main {
    width: 100%;
    height: 8828px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-auto-columns: auto;
    grid-auto-rows: max-content;
}

.article-1 {
    width: 100%;
    height: 1325px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: repeat(2, 50% [col-start]);
    grid-template-rows: repeat(2, 50% [col-start]);
}

.article-1-1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid-article-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #888;
}

.grid-article-2 {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #686868;
}

.grid-article-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: end;
    background-color: #505050;
}

.grid-article-4 {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: end;
    background-color: #888;
}

.article-1-header {
    width: 9em;
    box-sizing: border-box;
    position: absolute;
    margin: 4% 0 0 39%;
    text-align: center;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.article-1-span {
    width: 10em;
    letter-spacing: -1px;
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 0.3em 0.4em;
}

.text-article {
    margin: 25%;
    font-size: calc(1.375rem + 1.6vw);
}

.article-2 {
    width: 100%;
    display: grid;
    margin-top: 3%;
    height: 450px;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

.article-2-1 {
    height: 100%;
}

.grid-article-2-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
}

.grid-article-2-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: 	#d0d0d0;
}

.grid-article-2-3 {
    grid-column-start: 3;
    grid-column-end: end;
    background-color: transparent;
}

.text-article-2 {
    font-size: calc(1.2em + 0.2vw);
    margin: 10% 7%;
}

.article-3 {
    display: grid;
    width: 100%;
    height: 614px;
    margin-top: 7%;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

.grid-article-3-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 50%;
    margin: 9% 7%;
    border-radius: 9px;
    background-color: #787878;
}

.grid-article-3-2 {
    grid-column-start: 2;
    grid-column-end: end;
    height: 100%;
    margin: 0 4% 0 0;
    border-radius: 9px;
    background-color: #a0a0a0;
}

.text-article-3 {
    width: 33.33%;
    margin-left: 33.33%;
    margin-top: 9%;
    font-size: 28px;
    font-style: bold;
}

.text-article-3-1 {
   width: 70%;
   height: 40px;
   margin-top: 30%;
   margin-left: 20%;
   font-size: 40px;
}

.article-4 {
    width: 100%;
    display: grid;
    margin-top: 3%;
    height: 450px;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

.article-5 {
    display: grid;
    width: 100%;
    height: 614px;
    margin-top: 7%;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

.grid-article-5-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
}

.grid-article-5-2 {
    grid-column-start: 2;
    grid-column-end: end;
    height: 100%;
    margin: 0 4% 0 0;
    border-radius: 9px;
    background-color: #a0a0a0;
}

.see-articles {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.see-articles div {
    width: 180px;
    height: 30px;
    margin: 0 auto;
    font-size: 16.2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.part-6 {
    width: 100%;
    height: 1035px;
    background-color: #a9a9a9;
    text-align: center;
}

.part-7 {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: transparent;
}

.personal-description {
    margin-left: 300px;
    background: transparent;
    height: 100%;
}

.personal-description h3 {
    margin: 30px 30px 0 0;
}

.part-8 {
    height: 1358px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 33.33% [col-start]);
}

.personal-paragraphs {
    margin: 30px 80px 0 10px;
}

.personal-paragraphs p {
    margin-left: 87px;
    width: 70%;
}

.article-6 {
    width: 100%;
    display: grid;
    margin-top: 3%;
    height: 450px;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

.article-7 {
    display: grid;
    width: 100%;
    height: 614px;
    margin-top: 7%;
    grid-template-columns: repeat(3, 33.33% [col-start]);
    grid-template-rows: repeat(1, 100% [col-start]);
}

footer {
    width: 100%;
    height: 713px;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    background-color: #a9a9a9;
}

footer h1 {
    font-size: 35px;
    font-style: bold;
    margin: 100px 5%;
}

.part-9 {
    background-color: #989898;
    height: 431px;
}

.part-6 h1 {
    font-size: 35px;
    font-style: bold;
    margin: 200px 7%;
}

.part-9 h1 {
    font-size: 35px;
    font-style: bold;
    margin: 100px 5%;
}
